node_modules
.idea
.vscode

*.js
*.js.map
*.css
*.css.map
*.zip
*.bak

backups/
nohup.out

commentsPerMinute.json
postsPerMinute.json
subredditTypes.json
subredditTypes_info.json
subredditTypes_history.txt
topSubreddits.json
requestLog.txt
redditAuth.json

.env
