:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid #617c98;
}

.chart {
  width: 100%;
}

svg {
  text {
    font-weight: 700;

    &.title {
      font-size: 1.75rem;
      transform: translateY(0.75rem);
    }

    &.label {
      font-size: 1.2rem;
    }
  }

  g.tick text {
    font-size: 1rem;
  }
}

svg.subreddit-type-chart {
  .tick {
    .name {
        font-size: 1.05rem;
    }

    .subscribers {
        font-size: 0.8rem;
    }
  }

  .tooltip {
    rect {
      fill: #fff;
      stroke: #e1e1e1;
      stroke-width: 2px;
      border-radius: 5px;
      filter: drop-shadow(0.6px 0.6px 2.2px rgba(0, 0, 0, 0.056))
              drop-shadow(1.3px 1.3px 5.3px rgba(0, 0, 0, 0.081))
              drop-shadow(2.5px 2.5px 10px rgba(0, 0, 0, 0.1))
              drop-shadow(4.5px 4.5px 17.9px rgba(0, 0, 0, 0.119))
              drop-shadow(8.4px 8.4px 33.4px rgba(0, 0, 0, 0.144))
              drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.2));
    }
  }

  .bar {
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  width: min(70rem, 100%);
  margin: 0 auto;
}

#panels {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
  margin: 2rem 0;
}

.panel {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #e1e1e1;
  background-color: #fff;
  box-shadow:
          0.6px 0.6px 2.2px rgba(0, 0, 0, 0.034),
          1.3px 1.3px 5.3px rgba(0, 0, 0, 0.048),
          2.5px 2.5px 10px rgba(0, 0, 0, 0.06),
          4.5px 4.5px 17.9px rgba(0, 0, 0, 0.072),
          8.4px 8.4px 33.4px rgba(0, 0, 0, 0.086),
          20px 20px 80px rgba(0, 0, 0, 0.12);
}

.toggle-button {
  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    --border-color: #d5d5d5;
    --border-width: 1.5px;
    --border-radius: 0.5rem;
    border-top: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #e1e1e1;
    }

    &.on {
      background-color: #e0e0e0;
      --border-color: #bdbdbd;
    }

    &.round-corners-left {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      border-left: var(--border-width) solid var(--border-color);
    }

    &.round-corners-right {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-right: var(--border-width) solid var(--border-color);
      border-left: var(--border-width) solid var(--border-color);
    }

    &.round-corners-both {
      border-radius: var(--border-radius);
      border-left: var(--border-width) solid var(--border-color);
      border-right: var(--border-width) solid var(--border-color);
    }

    &.round-corners-none {
      border-radius: 0;
      border-left: var(--border-width) solid var(--border-color);
    }
  }
}

.panel {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-flow: wrap;

    .group {
      display: flex;
      align-items: center;

      .label {
        font-weight: 700;
        margin-right: 0.5rem;
      }
    }

    .expand {
      flex-grow: 1;
    }
  }

  .legend {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-flow: wrap;
    margin: 1rem 0;

    .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .color-box {
        --color: #000;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.25rem;
        background-color: var(--color);
      }

      .label {
        font-weight: 700;
      }
    }
  }
}

.prop-number-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  label {
    font-weight: 700;
  }

  input {
    font-size: 1.1rem;
    width: 4.5rem;
    padding: 0.1rem;
    margin-bottom: -1px;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    background-color: #fff;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 2px solid #617c98;
    }
  }

  .error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: #f44336;

    &:not(.visible) {
      display: none;
    }
  }
}

table.subreddits-list {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #e1e1e1;

    thead {
        background-color: #f8f8f8;
        border-bottom: 2px solid #e1e1e1;

      th {
        padding: 0.5rem 1rem;
        font-weight: 700;
        text-align: left;

        &.sortable {
          cursor: pointer;
          user-select: none;

          &:not(.active) {
            span {
              opacity: 0.25;
              letter-spacing: -5px;
              transition: all 0.2s ease-in-out;
            }
          }

          &:hover {
            &:not(.active) {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid #e1e1e1;

        &:last-child {
            border-bottom: none;
        }

        td {
            padding: 0.5rem 1rem;

          &.type {
            --color: #000;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &::before {
              content: "";
              width: 1rem;
              height: 1rem;
              border-radius: 0.25rem;
              background-color: var(--color);
            }
          }
        }
      }
    }
}
