@use "default";
@use "vars";

:root {
  background: vars.$background;
  color: vars.$text-color;

  &.dark-mode {
    // change scrollbar color
    scrollbar-color: #3a3a3a #121212;

    ::-webkit-scrollbar {
      width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
      background: #121212;
    }

    ::-webkit-scrollbar-thumb {
      background: #3a3a3a;
    }
  }
}

a {
  color: vars.$link-color;

  &:visited {
    color: vars.$link-visited-color;
  }
}

.hidden {
  display: none;
}

.chart {
  width: 100%;
}

svg {
  text {
    font-weight: 700;
    fill: vars.$text-color;

    &.title {
      font-size: 1.75rem;
      transform: translateY(0.75rem);
    }

    &.label {
      font-size: 1.2rem;
    }
  }

  g.tick text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  svg {
    g.tick text {
      font-size: 0.8rem;
    }

    .x-axis {
      g.tick text {
        text-anchor: end;
        transform: rotate(-45deg);
      }

      &.top {
        g.tick text {
          transform: translate(0, -1.5rem) rotate(-45deg);
        }
      }
    }
  }
}

.chart {
  .bar {
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: brightness(1.2);
    }
  }

  .tooltip {
    rect {
      fill: vars.$panel-bg-color;
      stroke: vars.$border-color;
      stroke-width: 2px;
      border-radius: 5px;
      filter:
              drop-shadow(0 0 2.2px rgba(0, 0, 0, 0.034))
              drop-shadow(0 0 5.3px rgba(0, 0, 0, 0.048))
              drop-shadow(0 0 10px rgba(0, 0, 0, 0.06))
              drop-shadow(0 0 17.9px rgba(0, 0, 0, 0.072))
              drop-shadow(0 0 33.4px rgba(0, 0, 0, 0.086))
              drop-shadow(0 0 80px rgba(0, 0, 0, 0.12));
    }
  }

  .label-small {
    font-size: 0.9rem;
  }

  .ticks-small {
    g.tick text {
      font-size: 0.9rem;
    }
  }
}

svg.subreddit-type-chart {
  .tick {
    .name {
        font-size: 1.05rem;
    }

    .subscribers {
        font-size: 0.8rem;
    }
  }
}

main {
  // for 1 or 2 equal-width columns
  padding: 2rem 1rem;

  .layout-switcher {
    display: flex;
    margin: 0 auto;

    &.one-column {
      width: min(70rem, 100%);
      flex-flow: column;
      align-items: stretch;
      gap: 3rem;
    }

    &.two-column {
      width: min(150rem, 100%);
      flex-flow: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3rem;

      > .column {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        gap: 3rem;
      }
    }
  }
}


.panel {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: vars.$panel-bg-color;
  border: vars.$panel-border-width solid vars.$border-color;
  box-shadow:
          0.6px 0.6px 2.2px rgba(0, 0, 0, 0.034),
          1.3px 1.3px 5.3px rgba(0, 0, 0, 0.048),
          2.5px 2.5px 10px rgba(0, 0, 0, 0.06),
          4.5px 4.5px 17.9px rgba(0, 0, 0, 0.072),
          8.4px 8.4px 33.4px rgba(0, 0, 0, 0.086),
          20px 20px 80px rgba(0, 0, 0, 0.12);
}

.toggle-button > button, .single-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: vars.$button-bg-color;
  --button-border-color: var(--border-color);
  --border-width: 1.5px;
  --border-radius: 0.5rem;
  border-top: var(--border-width) solid var(--button-border-color);
  border-bottom: var(--border-width) solid var(--button-border-color);
  transition: all 0.2s ease-in-out;

  &:hover {
      background-color: vars.$button-bg-color-hover;
  }

  &.on {
    background-color: vars.$button-bg-color-on;
    --button-border-color: var(--button-bg-color-on);
  }

  &.round-corners-left {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-left: var(--border-width) solid var(--button-border-color);
  }

  &.round-corners-right {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-right: var(--border-width) solid var(--button-border-color);
    border-left: var(--border-width) solid var(--button-border-color);
  }

  &.round-corners-both {
    border-radius: var(--border-radius);
    border-left: var(--border-width) solid var(--button-border-color);
    border-right: var(--border-width) solid var(--button-border-color);
  }

  &.round-corners-none {
    border-radius: 0;
    border-left: var(--border-width) solid var(--button-border-color);
  }
}

.panel {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-flow: wrap;

    .group {
      display: flex;
      align-items: center;

      .label {
        font-weight: 700;
        margin-right: 0.5rem;
      }
    }

    .expand {
      flex-grow: 1;
    }
  }

  .legend {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-flow: wrap;
    margin: 1rem 0;

  }

  .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .color-box {
      --color: #000;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
      background-color: var(--color);
    }

    .label {
      font-weight: 700;
    }
  }
}

.prop-number-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  label {
    font-weight: 700;
  }

  input {
    font-size: 1.1rem;
    width: 4.5rem;
    padding: 0.1rem;
    margin-bottom: -1px;
    border: none;
    border-bottom: 2px solid vars.$border-color;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 2px solid #617c98;
    }
  }

  .error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: #f44336;

    &:not(.visible) {
      display: none;
    }
  }
}

.table-wrapper {
  overflow: auto;
  max-height: min(60vh,55rem);
  border: 2px solid vars.$border-color;

  table.subreddits-list {
    width: 100%;
    border-collapse: collapse;
    position: relative;

    thead {
      position: sticky;
      top: 0;
      background-color: vars.$table-header-bg-color;
      border-bottom: 2px solid vars.$border-color;

      th {
        padding: 0.5rem 1rem;
        font-weight: 700;
        text-align: left;

        &.sortable {
          cursor: pointer;
          user-select: none;

          &:not(.active) {
            span {
              opacity: 0.25;
              letter-spacing: -5px;
              transition: all 0.2s ease-in-out;
            }
          }

          &:hover {
            &:not(.active) {
              span {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid vars.$border-color;

        &:last-child {
          border-bottom: none;
        }

        td {
          padding: 0.5rem 1rem;

          &.type {
            --color: #000;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &::before {
              content: "";
              width: 1rem;
              height: 1rem;
              border-radius: 0.25rem;
              background-color: var(--color);
            }
          }
        }
      }
    }
  }
}

.global-loading-indicator {
  position: fixed;
  bottom: 0;
  right: 1rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  &.visible {
    opacity: 1;
  }

  svg {
    width: 6rem;
    height: auto;
  }
}

.date-input-range {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  .top-row {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;

    .date-label {
      font-weight: 700;
    }
  }

  .input-range {
    width: min(20rem, 100%);
    height: 2rem;
    align-self: center;
    position: relative;
    user-select: none;
    --left: 0%;
    --right: 100%;

    .bar-background {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: vars.$input-range-bg-color;
      transform: translateY(-50%);
    }

    .bar-filled {
      position: absolute;
      top: 50%;
      left: var(--left);
      width: calc(var(--right) - var(--left));
      height: 4px;
      background-color: vars.$input-range-fill-color;
      transform: translateY(-50%);
    }

    .handle {
      position: absolute;
      top: 50%;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: vars.$input-range-handle-color;
      transform: translate(-50%, -50%);
      border: 1px solid vars.$input-range-handle-border-color;
      cursor: pointer;
      filter:
        drop-shadow(0px 0px 0.1px rgba(0, 0, 0, 0.167))
        drop-shadow(0px 0px 0.3px rgba(0, 0, 0, 0.24))
        drop-shadow(0px 0px 0.6px rgba(0, 0, 0, 0.313))
        drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.48));
    }

    .handle-left {
        left: var(--left);
    }

    .handle-right {
      left: var(--right);
    }
  }
}

.welcome-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  button {
    font-size: 1.25rem;
  }

  h2 {
    margin-bottom: 0;
  }
}

.dark-mode {
  .welcome-header {
    button {
      font-size: 1.5rem;
    }
  }
}

.changelog {
  h3 {
    margin-bottom: 0.25rem;
  }

  ul + h3 {
    margin-top: 0.75rem;
  }
}

.collapsed-notes {
  .visible-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    span {
      font-size: 1.1rem;
    }
  }

  .expanded-notes {
    display: none;

    .random-post-row {
      > * {
        display: inline-block;
      }

      span {
        margin-right: 0.5rem;
      }
    }
  }

  &.expanded {
    .expanded-notes {
      display: block;
    }
  }

  .single-button {
    padding: 0.125rem 0.25rem;
  }
}
